.hero-container {
  background-image: url("../../../assets/images/logistics/logistics3.jpg");
  background-size: 66vw;
  background-position: left;
  .container{
    .mobile-view{
      display: block !important;
    }
  }
}

.vehicle-section {
  .vehicle-wrapper {
    position: relative;
    box-shadow: #0000003d 0 3px 8px;
    .vehicle-img {
      transition: transform 0.2s ease-in-out;
    }
    .vehicle-img:hover {
      transform: scale(1.05);
    }

    .button {
      background-color: rgb(157, 157, 157);
    }
  }
}
.inService {
  background-color: bisque;
  z-index: 10;
  // position:absolute;
}

.estimate-form {
  border: 1px solid red;
  display: grid;
  gap: 0;
  .back-button {
    place-self: end;
  }
}

.verification-dialog{
    width: 80%;
  }

@media(min-width:360px) and (max-width:610px){

.hero-container {
  height: 100vh;
  .overlay{
    height: 100dvh;
  }
  background-size: 100vw;
  background-position: top;
  .container{
    .mobile-view{
      display: none;
    }
  }
}


.services-section .services{
  width: 100%;
}

.services-section .header{
  font-size: clamp(34px, 4vw, 36px);
}
  .verification-dialog{
    width: 80%;
  }

  #AboutUs .container .img{
    height: 400px;
  }
  .slider-text {
    height: 100%;
    position: relative;
    top: 100px;

}
}


// .slider-text {
//     height: none;
// }
